nav {
    background-color: #333;
    height: 50px;
    margin-bottom: 15px;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-nav li {
    display: inline-block;
    margin: 0 10px;
    margin-top: 15px;
}

.top-nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

.top-nav a:hover {
    background-color: #555;
}